.news-content{
    padding: 23px 18px;
}
.news-content hr{
    border-color: #eee;
}

.news-content ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.news-content li{
    /*height: 130px;*/
    position: relative;
    padding-bottom: 10px;
    margin-top: 15px;
    overflow: hidden;
}
.news-content>div>p{
    text-indent: 2em;
}

.news-content .shijian{
	margin-top:25px;
	float:right;
	font-size:12px;
}
p.time{
    font-size: 12px;
}
div.tags{
    font-size: 12px;
    margin-top: 25px;
}

.e-border-line,.f-border-line{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1px;
}
.e-border-line{
    left: 0;
    background-color:#eee;
}
.f-border-line{
    left: -100%;
    /*background-color: rgb(104, 159, 56);*/
    transition: left 0.6s;
}
.news-content li:hover .f-border-line{
    left:0;
}
li>div{
    float: left;
    display: inline-block;
}
li .img{
    overflow: hidden;
}
li .img-box{
    width: 140px;
    height: 100px;
    /*border: 1px solid #245580;*/
}
.news-content li img{
    width: 100%;
    height: 100%;
}
.news-content .body{
    padding: 0 10px;
}
.news-content .title{
    font-size: 20px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.news-content .content{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: default;
}
.news-content .body span{
    font-size: 12px;
    cursor: default;
}
.news-nav-bar{
    width: 100%;
    height: 350px;
    background: url(http://jm.imge.top/nav-bar/c6x.jpg) center top no-repeat;
    /*background-clip: border-box;*/
    /*background-origin: content-box;*/
    background-size: cover;
}
._news li{
    margin-top: 0;
    padding-bottom: 0;
    text-indent: 2em;
}

/*具体新闻css*/
.news-content .jm-content h3{
    margin-bottom: 40px;
}

.jm-content img{
    width: 80%;
}



/*更改boostrap的col-*/
.news-content .col-xs-4{
    width: 33.33333333%;
}
.news-content .col-xs-8{
    width: 66.66666667%;
}
@media (min-width: 768px) {
    .news-content .col-sm-4{
        width: 35%;
    }
    .news-content .col-sm-8{
        width: 63%;
    }
    .news-content>div>div img{
		width: 80%;
	}
}
@media (min-width: 992px) {
    .news-content .col-md-3 {
        width: 20%;
    }
	
    .news-content .col-md-9 {
        width: 78%;
    }
    .news-content>div>div img{
		width: 80%;
	}
}
@media (max-width: 768px) {
	.news-content>div>div img{
		width: 80%;
	}
	
}