  .area-box{
            margin-bottom: 15px;
        }

        .sub{
            margin-top: 15px;
        }

        label.wrong{
        	display:none;
        }
        .form-group.msg label:nth-child(3),label.wrong,
		.form-group>div label{
        	font-size:12px;
        	color:#a94442;
        	font-weight:normal;
        }
        .form-group>div label.agreethis{
        	font-size:12px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #34495e;
        }
        .form-inline .form-group{
            display: inline-block;
            margin-bottom: 15px;
            vertical-align: middle;
        }
        .form-inline .form-control{
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }
      	.form-inline .form-control.w-225{
            width: 225px;
        }
        .form-inline .form-control.select-w-80{
            width: 80px;
        }

        .margin-right-15{
            margin-right: 15px;
        }
        
         div.form-inline .noschl,div.form-inline .noteacher{
            font-size: 12px;
            margin-bottom: 0;
        }
		div.form-inline .noteacher{
			color:#a94442;
		}
		
        .btn-padding{
            transform: translateX(-8px);
        }

        .form-width .col-sm-2{
            width: 20%;
        }
        .form-width .col-sm-8{
            width: 60%;
        }
        .form-width .col-sm-10{
            width: 80%;
        }
        .form-width .col-sm-offset-2{
            margin-left: 20%;
        }
        @media (max-width: 768px) {
            .btn-padding{
                transform: translate3d(0,8px,0);
            }
            .form-width .col-sm-2{
                width: 100%;
            }
            .form-width .col-sm-8{
                width: 100%;
            }
            .form-width .col-sm-10{
                width: 100%;
            }
            .form-width .col-sm-offset-2 {
                margin-left: 0;
            }
        }
     