body{
    color: #626262;
    background-color: #eee;
}
hr{
    border-top: 1px solid #fff;
}
.condition ul,.pictures ul,.prom ul{
    list-style: none;
    overflow: hidden;
    padding-left: 0;
    margin: 0;
}

.navbar-logo.navbar-brand{
    padding: 0;
    padding-left: 10px;
}
.nav-logo{
    position: absolute;
    top:-15px;
    height:80px;
}

.nav-bar{
    width: 100%;
    /*color: #8788a3;*/
    font-weight: 600;
    background-color: transparent;
    z-index: 1006;
}
.nav-bar.fixed{
    position: fixed;
    top: 0;
}
.nav-bar.backColor{
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}
.nav-bar.backColor-mobile .navbar-header,.nav-bar.backColor-mobile .navbar-collapse{
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.navbar-default{
    margin-bottom: 0;
    border-color: transparent;
    background-color: transparent;
    color:#8788a3;
}
.navbar-default .navbar-nav>li>a{
    color:#8788a3;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover
    /*,.navbar-default .navbar-nav a:hover*/
{
    color:#6a6b80;
    background-color: transparent;
    border-bottom: 2px solid #949494;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color:#6a6b80;
    /*border-bottom: 2px solid #949494;*/
}

/*首页的第一张图片*/
.nav-pic{
    width: 100%;;
    height: 600px;
    background: url(../img/bg/bg2.jpg) 50% 50% no-repeat;
    background-clip: border-box;
    background-origin: content-box;
    background-size: cover;
}

/*所在位置的css*/
.addr{
    margin-top: 20px;
}
/*左侧菜单栏*/
.left-menu{
    position: relative;
}
.menu-bar ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    /*width: 226px;*/
}
.menu-bar{
    position: absolute;
    top:0;
    /*height: 300px;*/
    /*width: 210px;*/
    background-color: rgba(245, 245, 245, 0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.menu-bar.fixed{
    position: fixed;
}

.menu-bar ul a{
    /*font-family: 'Roboto';*/
    display: table;
    height: 48px;
    width: 226px;
    font-weight: 300;
    line-height: 48px;
    color: #626262;
}
.menu-bar ul a .link{
    display: table-cell;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 15px;
    background-color: transparent;
}
.menu-bar ul>li.active a,.menu-bar ul>li:hover a{
    color: #fff;
    text-decoration: none;
}
.menu-bar ul>li .color-block{
    display: table-cell;
    font-size: 34px;
    height: 48px;
    width: 65px;
}

.menu-bar .service{
    width: 226px;
    border-top: 1px solid rgba(217, 217, 217, 1);
    background-color: rgba(238, 238, 238, 0.95);
    font-size: 0;
}
.menu-bar .service a{
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    width: 113px;
    height: 113px;
    color: #555;;
    border:1px solid  #e3e3e3;
    overflow: hidden;
}
.menu-bar .service a>i{
    position: absolute;
    top:17px;
    left:35px;
    transition: top 0.3s ease-in;
}

.menu-bar .service a>span{
    position: absolute;
    top:71px;
    display: block;
    width: 100%;
    transition: top 0.5s ;
}
.menu-bar .service a .miaoshu{
    margin-top: 17px;
    font-size: 12px;
    display: block;
}
.service a:hover{
    /*color: rgb(104, 159, 56);*/
    text-decoration: none;
}
.service a:hover>i{
    top : -50px;
}
.service a:hover>span{
    top:40px;
}


.menu-content{
    margin-left: 266px;
}
.shadow-c{
    background-color: #fff;
    box-shadow: 0 3px 5px #c1c1c1;
}

.menu-bar ul>li:nth-child(1) .color-block{
    background-color: #689f38;
}
.menu-bar ul>li:nth-child(2) .color-block{
    background-color: #ed3b3b;
}
.menu-bar ul>li:nth-child(3) .color-block{
    background-color: #ef6c00;
}
.menu-bar ul>li:nth-child(4) .color-block{
    background-color: #039be5;
}
.menu-bar ul>li:nth-child(5) .color-block{
    background-color: #536dfe;
}
.menu-bar ul>li:nth-child(6) .color-block{
    background-color: #658092;
}
.menu-bar ul>li:nth-child(7) .color-block{
    background-color: #ffa417;
}
.menu-bar ul>li:nth-child(7) .color-block{
    background-color: #af6cce;
}

a.no-click{
    cursor: default;
}
a.no-click:hover{
    color: inherit;
    text-decoration: none;
}

/*排序css*/
.filter a{
    color: #000;
}
.filter a:hover{
    text-decoration: none;
}
.sorting{
    /*display: inline-block;*/
}
.sorting a{
    position: relative;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    border: 1px solid #d0d0d0;
    padding: 0 20px;
}
.sorting a:not(:first-child){
    margin-left: -1px ;
}
.sorting a.active{
    border-color: #f40;
    z-index: 1;
}


/*图片放大*/
.lightboxOverlay{
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height:100%;
    background-color: black;
    opacity:0.7;
}
.img_box{
    position: fixed	;
    width:100%;
    z-index: 1000;
    top:0px;
    left:0px;
    text-align:center;
}
.img_inner{
    padding:15px;
}
.img_inner img{
    /*border-width : 4px 8px;*/
    /*border-style:solid;*/
    /*border-color:#fff;*/
    max-height:95%;
    max-width:90%;
    height:auto;
}
/*页码*/
.pagination {
    margin: 20px 0;
}
.pagination > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
}
.pagination > ul > li {
    display: inline;
}
.pagination > ul > li > a,
.pagination > ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    border: 1px solid #cccccc;
    border-left-width: 0;
}
.pagination > ul > li:first-child > a,
.pagination > ul > li:first-child > span {
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    border-left-width: 1px;
}
.pagination > ul > li:last-child > a,
.pagination > ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > ul > li > a:hover,
.pagination > ul > li > a:focus,
.pagination > ul > .active > a,
.pagination > ul > .active > span {
    background-color: #eeeeee;
}
.pagination > ul > .active > a,
.pagination > ul > .active > span {
    color: #444444;
    cursor: default;
}
.pagination > ul > .disabled > span,
.pagination > ul > .disabled > a,
.pagination > ul > .disabled > a:hover,
.pagination > ul > .disabled > a:focus {
    color: #cccccc;
    cursor: not-allowed;
    background-color: #fff;
}
.pagination.pagination-centered {
    text-align: center;
}
.pagination.pagination-right {
    text-align: right;
}



/*footer*/
footer ul {
    list-style: none;
    padding-left: 0;
}
footer{
    background-color: #2b2d2f;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #5f6875;
}
footer hr{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    border: 0;
    border-top: 1px solid #5f6875
}
footer a{
    font-size: 12px;
    color: #5f6875;
    transition: color 0.3s;
}
footer a:hover{
    color: #fff;
    text-decoration: none;
}
.QRcode{
    margin-top: 10px;
}
.QRcode p{
    margin-top: 13px;
    font-size: 12px;
}
.QR{
    width: 80px;
    height: 80px;
}


@media (max-width: 768px){
    .menu-bar{
        position: relative;
    }
    .menu-bar ul{
        width: 100%;
    }
    .menu-bar ul{
        font-size: 0;
    }
    .menu-bar ul li{
        display: inline-block;
        width: 50%;
    }
    .menu-bar ul a{
        width: 100%;
    }
    .menu-bar ul a .link{
        text-indent: 8px;
    }

    .menu-bar ul>li .color-block{
        width: 45px;
    }

    .menu-content{
        margin-top: 20px;
    }





    .menu-content{
        margin-left: 0;
    }

}