body{
    background-color:  #eee;
}
hr{
    border-top: 1px solid #fff;
}

.condition ul li,.pictures ul li{
    float: left;
}

/*实景设计第一张图*/
.design-nav-pic{
    width: 100%;;
    height: 400px;
    background: url(../img/design/design-bg-2.jpg) 40% 60% no-repeat;
    background-clip: border-box;
    background-origin: content-box;
    background-size: cover;
}



/*已选条件*/
.classify{
    font-size: 12px;
    line-height: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 4px;
}
.classify a{
    position: relative;
    display: inline-block;
    color: #626262;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 18px;
    margin-right: 6px;
    border: 1px solid #d0d0d0;
}
.classify a .icon-x{
    position: absolute;
    top:6px;
    right:6px;
}
.classify a:hover .icon-x{
    background-position: -17px 0;
}
.classify a:hover{
    border-color: #f40;
    text-decoration: none;
}

/*条件筛选*/
.condition{
    border: 1px solid #d0d0d0;
    overflow: hidden;
    margin-bottom: 10px;
}
.group{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -1px;
    border-bottom: 1px dashed #d0d0d0;
}

.body{
    padding-top: 10px;
    padding-bottom: 10px;
}
.body span{
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    /*color: #d0d0d0;*/
}

.title{
    display: inline-block;
}
.condition a{
    margin: 0 15px;
}
.condition a:hover{
    color: #f40;
}


/*图片浏览*/
.jq22-container {
    margin-top: 30px;
}

#pictures {
    margin: auto;
    position: relative;
    overflow: hidden;
}


.box {
    position: relative;
   /*  float: left; */
    overflow: hidden;
    cursor: pointer;
    /*width: 42%;*/
}
.box img {
    width: 100%;
}
.box .describe{
    position: absolute;
    bottom: -26px;
    padding: 3px 10px;
    width: 100%;
    background-color: #18bcbc;
    transition: bottom .5s;
}
.box .describe p{
    color: #fff;
    margin-bottom: 0;
    overflow: hidden;
}
.box:hover .describe{
    bottom:0;
}

.img-box{
	position:relative;
    width: 50%;
}
.box-l{
    float: left;
}
.box-r{
    float: right;
}
.img-box img{
    width: 100%;
}
.img-box>div{
    margin-bottom: 15px;
}
.box-l>div{
    margin-right: 15px;
}

.alert-end{
    cursor: default;
    padding: 5px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

/*preloader 动画*/
.loading{
    color: #9b59b6;
}

#preloader{
    position: relative;
    display: inline-block;
}
#preloader span{
    display: block;
    bottom:0;
    width: 6px;
    height: 3px;
    background: #9b59b6;
    position: absolute;
    animation: preloader_move 2.1s infinite ease-in-out;
}

#preloader span:nth-child(2){
    left: 10px;
    animation-delay: .3s;
}

#preloader span:nth-child(3){
    left: 20px;
    animation-delay: .6s;
}
#preloader span:nth-child(4){
    left: 30px;
    animation-delay: .9s;
}
#preloader span:nth-child(5){
    left: 40px;
    animation-delay: 1.2s;
}

@keyframes preloader_move {
    0% {height: 3px;transform:translateY(0);background: #9b59b6}
    25% {height: 16px;transform:translateY(8px);background: #3498db}
    50% {height: 3px;transform:translateY(0);background: #9b59b6}
    100% {height: 3px;transform:translateY(0);background: #9b59b6}
}


@media (max-width: 768px) {
    .img-box{
        width: 100%;
    }
    .box-l>div{
        margin-right: 0;
    }
}


@media (max-width: 768px) {
    .box{
        width: 100%;
    }
    .box .describe{
        bottom:0;
    }
}
