<footer class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-2 ">
                <h5>关于</h5>
                <ul>
                    <li><a href="#">关于境美</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="col-xs-3 col-sm-2 ">
                <h5>实例样板房</h5>
                <ul>
                    <li><a href="#">儿童房效果图</a></li>
                    <li><a href="#">客厅效果图</a></li>
                    <li><a href="#">书房效果图</a></li>
                    <li><a href="#">卧室效果图</a></li>
                </ul>
            </div>
            <div class="col-xs-3 col-sm-2 ">
                <h5>服务</h5>
                <ul>
                    <li><a href="#">在线选图</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="col-xs-3 col-sm-2 ">
                <h5>联系我们</h5>
                <ul>
                    <li><a href="#">点此预约</a></li>
                    <li><a href="tel:13063075706">13063075706</a></li>
                    <li><a href="tel:13860931774">13860931774</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 text-center">
                <div class="QRcode"><img class="QR" src="../img/index/QRcode.jpeg" alt="">
                    <p>关注公众号，获得更多服务</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="addr">
            <p class="text-center">北京境美境材料科技有限公司授权至漳州境美硅藻泥旗舰店&nbsp;&nbsp;地址：漳州开发区山语海2幢D08</p>
        </div>
    </div>
</footer>