<ul>
                    <li class="active">
                        <a href="../tantu.jhtml">
                        <span class="color-block"></span>
                        <span class="link">弹涂系列</span>
                    </a></li>
                    <li><a href="../jili.jhtml">
                        <span class="color-block"></span>
                        <span class="link">肌理系列</span>
                    </a></li>
                    <li><a href="../shayan.jhtml">
                        <span class="color-block"></span>
                        <span class="link">砂岩系列</span>
                    </a></li>
                    <li><a href="../kehua.jhtml">
                        <span class="color-block"></span>
                        <span class="link">刻画系列</span>
                    </a></li>
                    <li><a href="../midongshi.jhtml">
                        <span class="color-block"></span>
                        <span class="link">米洞石系列</span>
                    </a></li>
                    <li><a href="../guizaozhuan.jhtml">
                        <span class="color-block"></span>
                        <span class="link">硅藻砖系列</span>
                    </a></li>
                    <li><a href="../yishugui.jhtml">
                        <span class="color-block"></span>
                        <span class="link">艺术硅系列</span>
                    </a></li>
                </ul>